@font-face {
  src: url("../fonts/Corleone.ttf") format("truetype");
  font-family: "Corleone";
}
@font-face {
  font-family: counter;
  src: url(../fonts/digital_counter_7.ttf);
}
html {
  /* px means "pixels". The base font size is now 10 pixels high */
  font-size: 10px;
  /* Replace PLACEHOLDER with the font-family property value you got from Google Fonts */
  font-family: "Roboto", sans-serif;
}
html {
  background-color: #dadada;
}

body {
  margin: 0 auto;
  background-color: #dadada;
}

/* img {
  display: block;
  margin: 0 auto;
  max-width: 40%;
}

input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 80%;
  font-size: 1.6rem;
  border-radius: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 50px;
}
button {
  padding: 10px 20px;
  font-size: 1.6rem;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}
P {
  text-align: center;
  font-size: 3rem;
  color: #000000;
  font-family: "Corleone";
}

.logo {
  background-image: url("../images/google.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 200px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* Add a hover effect to the logo */
/* .logo:hover { */
/* background-image: url("../images/firefox-icon.jpg"); */
/* } */
.wrap {
  width: 510px;
  background-color: rgb(31, 8, 71);
  padding: 20px 0px;
  margin: 40px auto;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 20px;
  justify-content: center;
  text-align: center;
}
.goal-counter {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.team {
  justify-content: center;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 30px;
  margin: 0px;
}

#home-count {
  background-color: rgb(29, 29, 29);
  width: 110px;
  height: 60px;
  color: crimson;
  font-size: 60px;
  font-weight: 900;
  font-family: counter;
  padding: 5px 0px;
}

#home-count {
  background-color: rgb(29, 29, 29);
  width: 110px;
  height: 60px;
  color: rgb(15, 163, 2);
  font-size: 60px;
  font-weight: 900;
  font-family: counter;
  padding: 5px 0px;
}

#guest-count {
  background-color: rgb(29, 29, 29);
  width: 110px;
  height: 60px;
  color: crimson;
  font-size: 60px;
  font-weight: 900;
  font-family: counter;
  padding: 5px 0px;
}
button {
  border-radius: 5px;
  border: 2px solid white;
  padding: 10px;
  background-color: rgba(0, 0, 255, 0);
  color: white;

  font-weight: 900;
}

#newgame {
  border: 2px solid black;
  background-color: #cc5500;
  margin-top: 20px;
  font-family: counter;
}

.count {
  margin: 0px auto 20px auto;
  justify-content: center;
  text-align: center;
}